# {{ ansible_managed }}
server {

    listen {{ nova_placement_service_port }};

    {% for line in nova_placement_nginx_extra_conf %}
    {{ line }}
    {%- endfor %}

    access_log  /var/log/nova/nova-placement-api-access.log custom;
    error_log   /var/log/nova/nova-placement-api-error.log info;

    location /placement/ {
        try_files   $uri @nova-placement-api;
    }

    location @nova-placement-api {
        include     uwsgi_params;
        uwsgi_pass  127.0.0.1:{{ nova_placement_uwsgi_socket_port }};
        uwsgi_param SCRIPT_NAME '/placement';
        uwsgi_modifier1 30;
    }
}
